#build files
**/Debug/
**/Release
**/UnitTest
**/VisualStudio
**/build/
**.vs/
*.VC.db
*.VC.opendb
*.vcxproj.user
demo/
projects/visual_studio/cpp-apx/packages/
cpp_apx-cppcheck-build-dir
