#build files
**/Debug/
**/Release
**/UnitTest
**/VisualStudio
**/build/
**.vs/
*.VC.db
*.VC.opendb
projects/visual_studio/cpp_apx_test/packages/
projects/visual_studio/dtl_test/packages/
projects/visual_studio/bstr_test/packages/